extends layout

block title
  title О нас

block content
  .proj-int.container: .container
    h3.proj-name О нас
    p.
      Мы работаем с 2001 года. За это время воплощено более двух с
      половиной тысяч проектов, а общая высота возведенных дымоходов в
      три раза превышает высоту Джомолунгмы.
    p.
      Текучка в рядах небольшая. Мы ценим людей, а наши сотрудники
      дорожат стабильностью, человеческими отношениями и приобретенным
      опытом. В последние годы в среднем сдается 15-20 объектов в месяц.
      Отработанные связи и технологии, логистика позволяют минимизировать
      временные и материальные затраты. Мы уверены в партнерах, в
      качестве материалов и работ, поэтому наша гарантия не год, как
      у всех, а пять лет.
    p.
      Все это время мы не меняем номер телефона и не теряем связи с
      нашими клиентами, многие из которых обращаются с новыми заказами,
      а кому-то требуется просто консультация, совет или комплексное
      обслуживание. Немногие знают, что ряд своевременно произведенных
      манипуляций поможет освежить парную, продлить срок службы
      дымохода, восстановить внешний вид печки.
    p.
      Мы сотрудничаем с производителями качественных топок, уникальных
      барбекю-комплексов. Наши дизайнеры могут разработать проект не
      только печки, но и всего помещения. Так же среди наших партнеров
      есть дизайнеры по текстилю. Мы сделаем Ваш дом теплым и
      безопасным, уютным и эстетичным.
    .text-center.images-journal
      a.img.img-thumbnail(rel="gallery", href="images/journal-1.jpg")
        img(src="images/journal-thumb-1.jpg")
      a.img.img-thumbnail(rel="gallery", href="images/journal-2.jpg")
        img(src="images/journal-thumb-2.jpg")
      a.img.img-thumbnail(rel="gallery", href="images/journal-3.jpg")
        img(src="images/journal-thumb-3.jpg")
      a.img.img-thumbnail(rel="gallery", href="images/journal-4.jpg")
        img(src="images/journal-thumb-4.jpg")
      a.img.img-thumbnail(rel="gallery", href="images/journal-5.jpg")
        img(src="images/journal-thumb-5.jpg")
      p: i.
        Наши публикации в журнале "Деревянные дома"