extends layout

block title
  title Барбекю

block content
  .proj-int.container
    .col-md-6
      br
      img.img.img-responsive(src="images/barbecu3.jpg")
      h3.proj-name Барбекю
      p.
        Барбекю или мангал -  отличное решение для веселого
        времяпрепровождения дружной компании на открытом воздухе,
        для любителей вкусной и здоровой еды, приготовленной на открытом огне,
         для поклонников азиатской кухни. Приготовление таких блюд не требует
         длительной подготовки, зато каждый может почувствовать себя шефом.
         Сосиски, колбаски, птица, рыба, ребрышки, отбивные, классический
         шашлык, фрукты, овощи… Ну и какой же русский не любит запеченный
         картофель?! А хрустящие пирожки, самса,  лепешки из тандыра? Ммм…
         Все богатство кухонь мира на Вашей лужайке перед загородным домом.