extends layout

block title
  title Бани

block content
  .proj-int.container
    .col-md-6
      br
      img.img.img-responsive(src="images/bath.jpg")
      h3.proj-name БАНИ
      p.
        Терма, сауна, хаммам, или русская дровяная баня… Средоточие
        древнейших традиций гигиены и оздоровления. В настоящее время мы
        имеем возможность перенести в свое жилье баню  практически любого
        народа мира. Сочетание многовековых здоровых  традиций с достижениями
         НТП  и оригинальным дизайном многократно расширяет возможности
         современной бани. Гигиеническая утилитарная функция дополнилась
         терапевтическим и  значительным  психотерапевтическим эффектом.
         Нынешнее посещение бани подразумевает очищение и оздоровление
         всего организма, отдых с комфортом, релаксацию, восстановление сил,
         праздник тела и души.
    .col-md-6
      a.gal.item(rel="gallery", href="proj/bani/Image01.jpg"): img.img-thumbnail(src="proj/banismall/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image02.jpg"): img.img-thumbnail(src="proj/banismall/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image03.jpg"): img.img-thumbnail(src="proj/banismall/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image04.jpg"): img.img-thumbnail(src="proj/banismall/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image05.jpg"): img.img-thumbnail(src="proj/banismall/Image05.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image06.jpg"): img.img-thumbnail(src="proj/banismall/Image06.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image07.jpg"): img.img-thumbnail(src="proj/banismall/Image07.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image08.jpg"): img.img-thumbnail(src="proj/banismall/Image08.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image09.jpg"): img.img-thumbnail(src="proj/banismall/Image09.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image10.jpg"): img.img-thumbnail(src="proj/banismall/Image10.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image11.jpg"): img.img-thumbnail(src="proj/banismall/Image11.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image12.jpg"): img.img-thumbnail(src="proj/banismall/Image12.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image13.jpg"): img.img-thumbnail(src="proj/banismall/Image13.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image14.jpg"): img.img-thumbnail(src="proj/banismall/Image14.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image15.jpg"): img.img-thumbnail(src="proj/banismall/Image15.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image16.jpg"): img.img-thumbnail(src="proj/banismall/Image16.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image17.jpg"): img.img-thumbnail(src="proj/banismall/Image17.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image18.jpg"): img.img-thumbnail(src="proj/banismall/Image18.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image19.jpg"): img.img-thumbnail(src="proj/banismall/Image19.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image20.jpg"): img.img-thumbnail(src="proj/banismall/Image20.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image21.jpg"): img.img-thumbnail(src="proj/banismall/Image21.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image22.jpg"): img.img-thumbnail(src="proj/banismall/Image22.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image23.jpg"): img.img-thumbnail(src="proj/banismall/Image23.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image24.jpg"): img.img-thumbnail(src="proj/banismall/Image24.jpg")
      a.gal.item(rel="gallery", href="proj/bani/Image25.jpg"): img.img-thumbnail(src="proj/banismall/Image25.jpg")
      a.more.more-works(href="bath-all.html") ПОСМОТРЕТЬ ВСЕ РАБОТЫ

block callscripts
