doctype
head
  block title
    title Бани, камины, барбекю, ковка

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(rel="stylesheet", href="css/style-blinds.css")
  link(href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic', rel='stylesheet', type='text/css')
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
  script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')
  <![endif]-->
  link(rel="stylesheet", href="js/jquery.fancybox.css?v=2.1.5")
  link(rel="stylesheet", href="js/helpers/jquery.fancybox-buttons.css?")
  link(rel="stylesheet", href="js/helpers/jquery.fancybox-thumbs.css")

body

  .header
    .container: h1.text-center Шторы
  .text-center: p.descr-header.
    Мы создаем настроение внутри вашего дома...
  .container
    .col-md-8
      img.main-block(src="images/blinds.jpg")

    .col-md-4
      .container-red
        .header-proj Проект 1
        .desc-proj Описание проекта

  .container.small-margin
    .col-md-12: .container-white.desc-proj.
        <b>Дизайнерские шторы</b> – это не только защита от солнца и нескромных
        взглядов, не только уют. Хорошо и со вкусом подобранные шторы
        создают настроение внутри дома и впечатление снаружи.
        С помощью текстиля и креативной мысли дизайнера помещение можно
        сделать больше и значительнее или, наоборот, уютнее. <br>
        В детской должна быть светлая и радостная атмосфера, в спальне –
        расслабляющая, интимная, кабинет должен располагать к
        сосредоточенности, оформление кухни или столовой – способствовать
        пищеварению, гостиная - лицо квартиры - респектабельная и парадная…
        Оформление помещения текстилем не заканчивается только окнами.
        Покрывала, подушки, чехлы на мебель, скатерти, обивка стен – все
        это поможет собрать, «подружить» детали интерьера, создать гармонию
        в Вашем доме.


  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img01.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img01.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img02.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img02.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img03.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img03.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img04.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img04.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img05.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img05.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img06.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img06.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img07.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img07.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img08.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img08.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img09.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img09.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img10.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img10.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img11.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img11.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img12.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img12.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img13.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img13.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img14.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img14.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img15.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img15.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img16.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img16.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img17.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img17.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img18.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img18.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img19.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img19.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img20.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img20.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img21.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img21.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img22.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img22.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img23.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img23.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img24.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img24.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img25.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img25.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img26.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img26.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img27.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img27.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img28.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img28.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img29.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img29.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img30.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img30.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img31.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img31.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img32.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img32.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img33.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img33.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img34.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img34.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img35.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img35.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img36.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img36.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img37.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img37.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img38.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img38.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img39.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img39.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img40.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img40.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img41.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img41.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img42.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img42.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img43.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img43.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img44.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img44.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img45.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img45.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img46.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img46.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img47.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img47.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img48.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img48.jpg")
  .container.small-margin
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img49.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img49.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img50.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img50.jpg")
    .col-md-3
      a.gal(rel="gallery", href="proj/blinds/img51.jpg"): img.img.img-responsive(src="proj/blinds/thumb/img51.jpg")

  script(src='js/jquery.min.js')
  script(src='js/smooth-scroll.min.js')
  script(src='js/bootstrap.js')
  script(src="js/jquery.fancybox.pack.js")
  script(src="js/helpers/jquery.fancybox-buttons.js")
  script(src="js/helpers/jquery.fancybox-media.js")
  script(src="js/helpers/jquery.fancybox-thumbs.js")
  script(type='text/javascript').
    smoothScroll.init();
    $(document).ready(function() {
      $(".gal").fancybox({
        openEffect  : 'none',
        closeEffect : 'none',
        helpers : {
          title : { type : 'over' }
        }, // helpers
        beforeShow : function() {
          var a = this.href.replace(/\/[a-z]*\/[a-z]*\//g, '');
          this.title = a;
        }
      });
    });
  block callscripts
