extends layout

block title
  title Все работы Дымоходы

block content
  .proj-int.container
    .col-md-12
      h3.proj-name.text-center ГАЛЕРЕЯ ПРОЕКТОВ - ДЫМОХОДЫ
      a.gal.item(rel="gallery", href="proj/chimney/Image01.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image02.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image03.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image04.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image05.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image05.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image06.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image06.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image07.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image07.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image08.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image08.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image09.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image09.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image10.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image10.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image11.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image11.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image12.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image12.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image13.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image13.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image14.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image14.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image15.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image15.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image16.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image16.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image17.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image17.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image18.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image18.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image19.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image19.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image20.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image20.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image21.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image21.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image22.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image22.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image23.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image23.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image24.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image24.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image25.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image25.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image26.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image26.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image27.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image27.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image28.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image28.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image29.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image29.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image30.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image30.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image31.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image31.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image32.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image32.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image33.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image33.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image35.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image35.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image36.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image36.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image34.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image34.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image37.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image37.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image38.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image38.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image39.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image39.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image40.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image40.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image41.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image41.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image42.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image42.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image43.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image43.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image44.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image44.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image45.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image45.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image46.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image46.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image47.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image47.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image48.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image48.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image49.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image49.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image50.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image50.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image51.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image51.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image52.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image52.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image53.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image53.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image54.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image54.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image55.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image55.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/Image56.jpg"): img.img-thumbnail(src="proj/chimneysmall/Image56.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/1/Image01.jpg"): img.img-thumbnail(src="proj/chimneysmall/1/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/1/Image02.jpg"): img.img-thumbnail(src="proj/chimneysmall/1/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/1/Image03.jpg"): img.img-thumbnail(src="proj/chimneysmall/1/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/1/Image04.jpg"): img.img-thumbnail(src="proj/chimneysmall/1/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/1/Image05.jpg"): img.img-thumbnail(src="proj/chimneysmall/1/Image05.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/1/Image06.jpg"): img.img-thumbnail(src="proj/chimneysmall/1/Image06.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/1/Image07.jpg"): img.img-thumbnail(src="proj/chimneysmall/1/Image07.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/2/Image01.jpg"): img.img-thumbnail(src="proj/chimneysmall/2/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/2/Image02.jpg"): img.img-thumbnail(src="proj/chimneysmall/2/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/2/Image03.jpg"): img.img-thumbnail(src="proj/chimneysmall/2/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/2/Image04.jpg"): img.img-thumbnail(src="proj/chimneysmall/2/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/2/Image05.jpg"): img.img-thumbnail(src="proj/chimneysmall/2/Image05.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/2/Image06.jpg"): img.img-thumbnail(src="proj/chimneysmall/2/Image06.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/2/Image07.jpg"): img.img-thumbnail(src="proj/chimneysmall/2/Image07.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/2/Image08.jpg"): img.img-thumbnail(src="proj/chimneysmall/2/Image08.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/2/Image09.jpg"): img.img-thumbnail(src="proj/chimneysmall/2/Image09.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/3/Image01.jpg"): img.img-thumbnail(src="proj/chimneysmall/3/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/3/Image02.jpg"): img.img-thumbnail(src="proj/chimneysmall/3/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/chimney/3/Image03.jpg"): img.img-thumbnail(src="proj/chimneysmall/3/Image03.jpg")
block callscripts


