extends layout

block title
  title Все работы Камины

block content
  .proj-int.container
    .col-md-12
      h3.proj-name.text-center ГАЛЕРЕЯ ПРОЕКТОВ - КАМИНЫ
      a.gal.item(rel="gallery", href="proj/kamins/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image02.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image03.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image04.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image05.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image05.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image06.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image06.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image07.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image07.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image08.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image08.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image09.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image09.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image10.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image10.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image11.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image11.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image12.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image12.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image13.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image13.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image14.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image14.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image15.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image15.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image16.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image16.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image17.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image17.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image18.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image18.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image19.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image19.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image20.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image20.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image21.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image21.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image22.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image22.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image23.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image23.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image24.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image24.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image25.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image25.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image26.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image26.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image27.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image27.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image28.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image28.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image29.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image29.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image30.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image30.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image31.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image31.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image32.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image32.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image33.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image33.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image34.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image34.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image35.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image35.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image36.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image36.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image37.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image37.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image38.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image38.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image39.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image39.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image40.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image40.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image41.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image41.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image42.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image42.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image43.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image43.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image44.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image44.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image45.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image45.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image46.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image46.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image47.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image47.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image48.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image48.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image49.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image49.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image50.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image50.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image51.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image51.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image52.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image52.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image53.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image53.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image54.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image54.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image55.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image55.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image56.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image56.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image57.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image57.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image58.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image58.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image59.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image59.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image60.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image60.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/1/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/1/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/1/Image02.jpg"): img.img-thumbnail(src="proj/kaminssmall/1/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/1/Image03.jpg"): img.img-thumbnail(src="proj/kaminssmall/1/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/2/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/2/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/2/Image02.jpg"): img.img-thumbnail(src="proj/kaminssmall/2/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/2/Image03.jpg"): img.img-thumbnail(src="proj/kaminssmall/2/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/gibkijkamen/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/gibkijkamen/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/gibkijkamen/Image02.jpg"): img.img-thumbnail(src="proj/kaminssmall/gibkijkamen/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/gibkijkamen/Image03.jpg"): img.img-thumbnail(src="proj/kaminssmall/gibkijkamen/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/gibkijkamen/Image04.jpg"): img.img-thumbnail(src="proj/kaminssmall/gibkijkamen/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/gibkijkamen/Image05.jpg"): img.img-thumbnail(src="proj/kaminssmall/gibkijkamen/Image05.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/gibkijkamen/Image06.jpg"): img.img-thumbnail(src="proj/kaminssmall/gibkijkamen/Image06.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/dkonversiya/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/dkonversiya/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/dkonversiya/Image02.jpg"): img.img-thumbnail(src="proj/kaminssmall/dkonversiya/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/dkonversiya/Image03.jpg"): img.img-thumbnail(src="proj/kaminssmall/dkonversiya/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/dkonversiya/Image04.jpg"): img.img-thumbnail(src="proj/kaminssmall/dkonversiya/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kamindvustoronnij/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/kamindvustoronnij/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kamindvustoronnij/Image02.jpg"): img.img-thumbnail(src="proj/kaminssmall/kamindvustoronnij/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kamindvustoronnij/Image03.jpg"): img.img-thumbnail(src="proj/kaminssmall/kamindvustoronnij/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kamindvustoronnij/Image04.jpg"): img.img-thumbnail(src="proj/kaminssmall/kamindvustoronnij/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kamindvustoronnij/Image05.jpg"): img.img-thumbnail(src="proj/kaminssmall/kamindvustoronnij/Image05.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kamindvustoronnij/Image06.jpg"): img.img-thumbnail(src="proj/kaminssmall/kamindvustoronnij/Image06.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kamindvustoronnij/Image07.jpg"): img.img-thumbnail(src="proj/kaminssmall/kamindvustoronnij/Image07.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kamindvustoronnij/Image08.jpg"): img.img-thumbnail(src="proj/kaminssmall/kamindvustoronnij/Image08.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kamindvustoronnij/Image09.jpg"): img.img-thumbnail(src="proj/kaminssmall/kamindvustoronnij/Image09.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kaminkalyazin/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/kaminkalyazin/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kaminkalyazin/Image02.jpg"): img.img-thumbnail(src="proj/kaminssmall/kaminkalyazin/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kaminkalyazin/Image03.jpg"): img.img-thumbnail(src="proj/kaminssmall/kaminkalyazin/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kaminkalyazin/Image04.jpg"): img.img-thumbnail(src="proj/kaminssmall/kaminkalyazin/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kaminkalyazin/Image05.jpg"): img.img-thumbnail(src="proj/kaminssmall/kaminkalyazin/Image05.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kaminkalyazin/Image06.jpg"): img.img-thumbnail(src="proj/kaminssmall/kaminkalyazin/Image06.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kaminkalyazin/Image07.jpg"): img.img-thumbnail(src="proj/kaminssmall/kaminkalyazin/Image07.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kaminkalyazin/Image08.jpg"): img.img-thumbnail(src="proj/kaminssmall/kaminkalyazin/Image08.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kotposotrada/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/kotposotrada/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kotposotrada/Image02.jpg"): img.img-thumbnail(src="proj/kaminssmall/kotposotrada/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kotposotrada/Image03.jpg"): img.img-thumbnail(src="proj/kaminssmall/kotposotrada/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/kotposotrada/Image04.jpg"): img.img-thumbnail(src="proj/kaminssmall/kotposotrada/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/ogidipals/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/ogidipals/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/pechkalyazin/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/pechkalyazin/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/pechkalyazin/Image02.jpg"): img.img-thumbnail(src="proj/kaminssmall/pechkalyazin/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/pechkalyazin/Image03.jpg"): img.img-thumbnail(src="proj/kaminssmall/pechkalyazin/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/pechkalyazin/Image04.jpg"): img.img-thumbnail(src="proj/kaminssmall/pechkalyazin/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/yuspovopark/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/yuspovopark/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/yuspovopark/Image02.jpg"): img.img-thumbnail(src="proj/kaminssmall/yuspovopark/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/yuspovopark/Image03.jpg"): img.img-thumbnail(src="proj/kaminssmall/yuspovopark/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/yuspovopark/Image04.jpg"): img.img-thumbnail(src="proj/kaminssmall/yuspovopark/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/yuspovopark/Image05.jpg"): img.img-thumbnail(src="proj/kaminssmall/yuspovopark/Image05.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/yuspovopark/Image06.jpg"): img.img-thumbnail(src="proj/kaminssmall/yuspovopark/Image06.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/yuspovopark/Image07.jpg"): img.img-thumbnail(src="proj/kaminssmall/yuspovopark/Image07.jpg")
block callscripts


