extends layout

block title
  title Камины

block content
  .proj-int.container
    .col-md-6
      br
      img.img.img-responsive(src="images/fireplace.jpg")
      h3.proj-name КАМИНЫ
      p.
        Выполненные по индивидуальным проектам  камины являются не только
        отличным источником тепла, у которого так приятно собираться всей
        семьей вечерами, но и композиционным центром интерьера,
        точкой притяжения. Эффективность, надёжность, безопасность и,
        конечно же, Ваши эстетические предпочтения – вот главные критерии,
        которыми мы руководствуемся при реализации любого проекта, независимо
        от его бюджета.
    .col-md-6
      a.gal.item(rel="gallery", href="proj/kamins/Image01.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image01.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image02.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image02.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image03.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image03.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image04.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image04.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image05.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image05.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image06.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image06.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image07.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image07.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image08.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image08.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image09.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image09.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image10.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image10.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image11.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image11.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image12.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image12.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image13.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image13.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image14.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image14.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image15.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image15.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image16.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image16.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image17.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image17.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image18.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image18.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image19.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image19.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image20.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image20.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image21.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image21.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image22.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image22.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image23.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image23.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image24.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image24.jpg")
      a.gal.item(rel="gallery", href="proj/kamins/Image25.jpg"): img.img-thumbnail(src="proj/kaminssmall/Image25.jpg")
      a.more.more-works(href="fireplace-all.html") ПОСМОТРЕТЬ ВСЕ РАБОТЫ

block callscripts
