div(id="between-advantages-footer")
.footer#bottomis
  .map
    script(src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=khCK9-f5vK-nTL0jpuM58gSljy83h3P-&height=350")
  h2 Обратная связь
  h3 Отправьте нам запрос и мы свяжемся с вами
  .form
    form(action="#")
      input(type="text", placeholder="Ваше имя..")
      input(type="text", placeholder="Телефон..")
      input(type="text", placeholder="E-mail..")
      input(type="button", value="ОТПРАВИТЬ..")
  .row.footerMenu
    .container.cont-foot-menu
      .row.row-foot-menu-md
        .col-lg-1.col-md-1.stlb-foot
        .col-lg-3.col-md-3.stlb-foot
          h3.h-foot ГЛАВНАЯ
          a(href="index.html") Главная страница<br />
          a(href="about.html") О нас<br />
        .col-lg-3.col-md-3.stlb-foot
          h3.h-foot УСЛУГИ
          a(href="fireplace.html") Установка каминов<br />
          a(href="bath.html") Строительство бань<br />
          a(href="chimney.html") Монтаж дымоходов<br />
          a(href="blinds.html") Монтаж штор<br />
        .col-lg-2.col-md-2.stlb-foot-img
          img.img-bottom-tel(src="images/phone.png")
          | +7 495 745 74 75
        .col-lg-2.col-md-2.stlb-foot-img
          img.img-bottom-email(src="images/mail1.png")
          | info@infinitgroup.ru
      .row.row-foot-menu-smmd
        .row.row-sm-tel-mail
          .col-sm-1.stlb-foot
          .col-sm-5.stlb-foot-img
            img.img-bottom-tel(src="images/phone.png")
            | +7 495 745 74 75
          .col-sm-1.stlb-foot
          .col-sm-5.stlb-foot-img
            img.img-bottom-email(src="images/mail1.png")
            | info@infinitgroup.ru
        .row
          .col-sm-1.stlb-foot
          .col-sm-5.stlb-foot
            h3.h-foot ГЛАВНАЯ
            a(href="index.html") Главная страница<br />
            a(href="about.html") О нас<br />
          .col-sm-1.stlb-foot
          .col-sm-5.stlb-foot
            h3.h-foot УСЛУГИ
            a(href="fireplace.html") Установка каминов<br />
            a(href="bath.html") Строительство бань<br />
            a(href="chimney.html") Монтаж дымоходов<br />
            a(href="blinds.html") Монтаж штор<br />
      .row.row-foot-menu-sm
        .row.row-xs-tel-mail
          .col-xs-1
          .col-xs-5.stlb-foot-img
            img.img-bottom-tel(src="images/phone.png")
            | +7 495 745 74 75
          .col-xs-5.stlb-foot-img
            img.img-bottom-email(src="images/mail1.png")
            | info@infinitgroup.ru
        .row
          .col-xs-1
          .col-xs-5.stlb-foot
            h3.h-foot ГЛАВНАЯ
            a(href="index.html") Главная страница<br />
            a(href="about.html") О нас<br />
          .col-xs-5.stlb-foot
            h3.h-foot УСЛУГИ
            a(href="fireplace.html") Установка каминов<br />
            a(href="bath.html") Строительство бань<br />
            a(href="chimney.html") Монтаж дымоходов<br />
            a(href="blinds.html") Монтаж штор<br />
    .copyR.
      COPYRIGHT<sup>TM 2015</sup> <br /> Cоздание сайта компания Web Infinit


