extends layout

block title
  title Инфинит

block content
  .proj-int.container
    .col-md-6
      br
      h3.proj-name Инфинит
      p.
        Компания Infinit занимается установкой газовых генераторов и
        бесперебойных источников питания