extends layout

block title
  title Ковка

block content
  .proj-int.container
    .col-md-6
      br
      img.img.img-responsive(src="images/kovka1.jpg")
      h3.proj-name Ковка
      p.
        Кованые изделия – оригинальный и практичный элемент. При ручной ковке
         на металл воздействует инструмент или молот, что позволяет
         воздействовать на него по всем направлениям, что, в свою очередь,
         дает нам выполнять заказы любого уровня сложности.