extends layout
block title
   title Бани
block content
   .proj-int.container
      .row.title-project
         .col-md-4
         .col-md-4.block-project-title
            h3.proj-name НАШИ ПРОЕКТЫ
         .col-md-4
      .row.more-project
         .col-md-6
            br
            img.img.img-responsive(src="images/bath.jpg")
            h3.proj-name Баня в Талдоме. Проект 1
            p.
               Объект сдан в 2014 году. Печь Kastor  с дополнительной секцией камней. Дымоход 8 м. Облицовка топки – состаренный кирпич.  Над топкой планировалось последующая установка стеллажей, поэтому стена  осталась необработанной.  Камни в печке парной - талькомагнезит. Плитка – талькомагнезит. Табуреточка – талькомагнезит (наш бонус миниатюрной хозяйке бани, чтобы она могла достать до дроссельной заслонки, для регулировки тяги))
            i.
               Благодаря лёгкости обработки и долговечности,&nbsp
            b.
               талькомагнезит&nbsp
            i.
               является прекрасным строительным и облицовочным огнеупорным материалом, обладает высокой&nbsp
            u.
               теплоёмкостью
            span.simv &nbspи&nbsp
            u.
               теплопроводностью.&nbsp
            i.
               Последние свойства обусловили его использование для устройства лежаков, стен, а также в облицовке и кладке печей и каминов. Его исключительные качества делают его лучшим печным материалом. Он выдерживает температуру до 1600 °C, а за счёт высокой теплоёмкости максимально аккумулирует тепловую энергию и долго, равномерно её отдаёт. Химическая устойчивость камня исключительно высока. Из него делают даже посуду. Он не подвержен воздействию даже сильных кислот, его поверхность могут разъедать только очень сильные
            u.
               &nbspщёлочи.
            p.
            p.
               Температура воздуха в парной, где установлена печь KastorSaga, обычно на 10 градусов ниже, чем с аналогичными моделями. Но «залить» такую печку намного труднее из-за большой массы нагретых камней. Эта печь более инерционная, дольше прогревается и медленнее остывает, а главное – пара производит больше.
            p.
               Срок сдачи объекта – 3 недели. Неделя – согласование проекта, неделя – закупка материалов, неделя – монтаж.
            p.
               Стоимость печи с монтажом – 230000 р.
         .col-md-6
            a.gal.item(rel="gallery", href="proj/bani/Image01.jpg"): img.img-thumbnail(src="proj/banismall/Image01.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image02.jpg"): img.img-thumbnail(src="proj/banismall/Image02.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image03.jpg"): img.img-thumbnail(src="proj/banismall/Image03.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image04.jpg"): img.img-thumbnail(src="proj/banismall/Image04.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image05.jpg"): img.img-thumbnail(src="proj/banismall/Image05.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image06.jpg"): img.img-thumbnail(src="proj/banismall/Image06.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image07.jpg"): img.img-thumbnail(src="proj/banismall/Image07.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image08.jpg"): img.img-thumbnail(src="proj/banismall/Image08.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image09.jpg"): img.img-thumbnail(src="proj/banismall/Image09.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image10.jpg"): img.img-thumbnail(src="proj/banismall/Image10.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image11.jpg"): img.img-thumbnail(src="proj/banismall/Image11.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image12.jpg"): img.img-thumbnail(src="proj/banismall/Image12.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image13.jpg"): img.img-thumbnail(src="proj/banismall/Image13.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image14.jpg"): img.img-thumbnail(src="proj/banismall/Image14.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image15.jpg"): img.img-thumbnail(src="proj/banismall/Image15.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image16.jpg"): img.img-thumbnail(src="proj/banismall/Image16.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image17.jpg"): img.img-thumbnail(src="proj/banismall/Image17.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image18.jpg"): img.img-thumbnail(src="proj/banismall/Image18.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image19.jpg"): img.img-thumbnail(src="proj/banismall/Image19.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image20.jpg"): img.img-thumbnail(src="proj/banismall/Image20.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image21.jpg"): img.img-thumbnail(src="proj/banismall/Image21.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image22.jpg"): img.img-thumbnail(src="proj/banismall/Image22.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image23.jpg"): img.img-thumbnail(src="proj/banismall/Image23.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image24.jpg"): img.img-thumbnail(src="proj/banismall/Image24.jpg")
            a.gal.item(rel="gallery", href="proj/bani/Image25.jpg"): img.img-thumbnail(src="proj/banismall/Image25.jpg")
            a.more.more-works(href="bath-all.html") ПОСМОТРЕТЬ ВСЕ РАБОТЫ
block callscripts
//
   Created by Виктория on 27.08.2015.

